# Dataframe between{}, dublicated{}, drop_dublicates{}, unique{}

In [2]:
import pandas as pd

In [5]:
dataframe = pd.read_csv('millitakım.csv')
dataframe.head(0)

Empty DataFrame
Columns: [Numara, İsim, Görev, Doğum Tarihi, Yaş, Takım, Boy, Ayak, Maç, Gol, Milyon Euro]
Index: []

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
Numara          25 non-null int64
İsim            25 non-null object
Görev           25 non-null object
Doğum Tarihi    25 non-null object
Yaş             25 non-null int64
Takım           25 non-null object
Boy             25 non-null object
Ayak            25 non-null object
Maç             25 non-null int64
Gol             8 non-null float64
Milyon Euro     25 non-null object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.2+ KB

In [14]:
dataframe["Milyon Euro"] = dataframe["Milyon Euro"].astype("float")
dataframe.head(1)

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.5

### between

In [21]:
# 20 -21 arasını alma (21de dahil)
yas = dataframe["Yaş"].between(20,21)
dataframe[yas]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
5,24,Ertugrul Ersoy,stoper,13-2-1997,21,Bursa,"1,87 m",sağ ayak,0,NaN,1.75
9,13,Zeki Celik,sağ bek,17-2-1997,21,İstanbul,"1,80 m",sağ ayak,1,NaN,0.80
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.00
20,27,Berkay Özcan,on numara,15-2-1998,20,Stuttgart,"1,80 m",sağ ayak,1,NaN,2.50
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27.00

In [24]:
milyon = dataframe['Milyon Euro'].between(5,10)
dataframe[milyon]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.0
16,19,Yunus Malli,on numara,24-2-1992,26,Wolsburg,"1,79 m",sağ ayak,18,1.0,9.0
17,20,Emre Akbaba,on numara,4-10-1992,25,Alanya,"1,80 m",cift ayakli,5,1.0,5.5

In [28]:
# numarası 5-8 arası olanlar (8 dahil)
numara = dataframe["Numara"].between(5,8)
dataframe[numara]

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
7,6,Ömer Bayram,sol bek,27-7-1991,26,Akhisar,"1,75 m",sol ayak,2,NaN,2.0
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.5
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.0
23,7,Serdar Gürler,sağ kanat,14-9-1991,26,Osmanlı,"1,75 m",sağ ayak,4,NaN,3.5

### dublicated

In [65]:
# dublicate olanlarda ilkini siler
# örneğin 3 tane dul var 1. siler : keep = first oldugunda.
# keep=last olursa en sondakini siler
df = dataframe["Görev"].duplicated(keep='last')
dataframe[df].head()

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
1,23,Sinan Bolat,kaleci,3-9-1988,29,Royal FC,"1,88 m",sağ ayak,6,NaN,1.20
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.00
4,22,Kaan Ayhan,stoper,10-11-1994,23,Düsseldorf,"1,85 m",sağ ayak,13,NaN,3.00
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25

### drop_dublicated()

In [49]:
#dublicateleri siler sadece ilki kalır
dataframe.drop_duplicates(subset="Görev")

,Numara,İsim,Görev,Doğum Tarihi,Yaş,Takım,Boy,Ayak,Maç,Gol,Milyon Euro
0,1,Harun Tekin,kaleci,17-6-1989,29,Bursa,"1,87 m",sağ ayak,2,NaN,2.50
3,4,Caglar Söyüncü,stoper,23-5-1996,22,Sc Freiburg,"1,87 m",sağ ayak,16,1.0,18.00
6,3,Hasan Ali Kaldirim,sol bek,9-12-1989,28,Fenerbahçe,"1,83 m",sol ayak,25,NaN,3.25
8,2,Sener Özbayrakli,sağ bek,23-1-1990,28,Fenerbahçe,"1,71 m",sağ ayak,17,NaN,2.00
10,5,Okay Yokuslu,önlibero,9-3-1994,24,Trabzon,"1,91 m",sağ ayak,14,1.0,7.50
14,8,Oguzhan Özyakup,orta saha,23-9-1992,25,Beşiktaş,"1,80 m",sağ ayak,35,1.0,8.00
15,11,Yusuf Yazici,on numara,29-1-1997,21,Trabzon,"1,83 m",sol ayak,9,NaN,12.00
21,18,Kenan Karaman,sol kanat,5-3-1994,24,Hannover,"1,89 m",sağ ayak,3,NaN,1.50
22,17,Cengiz Ünder,sağ kanat,14-7-1997,20,Roma,"1,73 m",sol ayak,11,4.0,27.00
24,10,Umut Bulut,santrafor,15-3-1983,35,Kayseri,"1,84 m",sağ ayak,39,10.0,0.45

### unique()

In [66]:
dataframe["Görev"].unique()

array(['kaleci', 'stoper', 'sol bek', 'sağ bek', 'önlibero', 'orta saha',
       'on numara', 'sol kanat', 'sağ kanat', 'santrafor'], dtype=object)

In [67]:
#kaç tane değerin geçtiğini bulmak için
len(dataframe["Görev"].unique())

10

In [69]:
# len(dataframe["Görev"].unique())
# aynı işlem
dataframe["Görev"].nunique()

10